.form{
    position: absolute;
    margin-top: 15%;
    padding: 50px;
    background-color: #ffffff;
    margin-left: 40%;
    font-family: sans-serif;
    border: solid 2px #f5f3f3;

    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
}
body{
    margin: 0;
    padding: 0;
}
.status-msg{
    position: absolute;
    margin-top: 13%;
    padding: 10px;
    border: 2px solid #1a222d;
    border-radius: 4px;
    margin-left: 20%;
    font-family: sans-serif;
    width: 231px;
}
.form-input{
    color: #1a222d;
    font-size: 25px;
}
.textArea{
    width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  
  font-size: 16px;
  resize: none;
}

.form-input input{
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    border: 2px solid #ccc;
    height: 50px;
}

.submit{
    background-color: #114B5F;
    color: white;
    border-radius: 4px;
    width: 125px;
    height: 45px;
    font-size: 16px;
}