.panel1{
    position: absolute;
    top: 35%;
    left: 70%;
    height: 200px;
    width: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #1a222d;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
}
.header{
    position: absolute;
    color: white;
    background-color: #114B5F;
    border-radius: 5px;
    left: 10%;
}
.form-input{
    position: absolute;
    top: 30%;
    color: #1a222d;
    font-size: 25px;
}
.form-input label{
    color: white;
}
.naam{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;

    font-size: 16px;
    resize: none;
}
.submit{
    position: absolute;
    background-color: #114B5F;
    color: white;
    border-radius: 4px;
    width: 125px;
    height: 45px;
    font-size: 16px;
    top: 45%;
    left: 55%;
}
.status-msg{
    position: absolute;
    margin-top: 5%;
    padding: 10px;
    border: 2px solid #1a222d;
    border-radius: 4px;
    margin-left: 60%;
    font-family: sans-serif;
    width: 231px;
}
.panel2{
    position: absolute;
    top: 50%;
    left: 25%;
    height: 600px;
    width: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #1a222d;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.34);
}
.list{
    position: absolute;
    top: 10%;
    color: white;
    height:  100%;
    width: 70%;
    overflow-y: scroll;
    overflow: hidden;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    top: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color: white;
}
th {
    background-color: #498da5;
}
tr:nth-child(even) {
    background-color: #114B5F;
}